<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   
</head>
<body>
    <p th:text="'Dear ' + ${userName} + ','"></p><br>
   
    <p th:text="'We wanted to let you know that' + ${messenger} + ' has decided not to accept the role of a Messenger on Last Farewells. While this might be unexpected, it opens the opportunity for you to invite someone else who can be part of your journey.'"></p>
    
    <p th:text="'Please visit your account to invite another Messenger."></p>
    
    <p th:text="'Remember, having at least one confirmed Messenger is essential for your Last Farewell letters and outlined Wishes to be shared. This ensures you messages and memorial page can be delivered as desired.'"></p>
     
    <p>If you need any assistance or guidance in selecting a Messenger, we're here to help.</p>
    
    <p>Warm regards,</p>
    <p>The Last Farewells Team</p>
    
</body>
</html>