<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>${subject}</title>
    
</head>
<body>
    <p th:text="'Dear ' + ${messenger} + ','"></p>
   
    <p th:text="'Thank you for accepting the role as a Messenger for '+ ${userName} + '\'s Last Farewells account. Your commitment is invaluable in ensuring their messages and memorial page are released in the future, honoring their legacy.'"></p>
    
    <p>Explore Your Messenger Portal:</p>
    
    <p>Your Messenger Portal is where you can manage your responsibilities and stay updated. It's designed to make your role both meaningful and straightforward.</p>
     
    <p>Consider Your Own Legacy:</p>
    
    <p th:text="'While you\'re helping ' + ${userName}+ '\' honor their legacy, you might also want to think about your own.. As a Messenger, you have the option to convert to a free account on Last Farewells, allowing you to leave your own messages and memorial page.'"></p>
  
    <p>Questions or Guidance?</p>
    
    <p>Our FAQ page is a great resource for any questions you might have about being a Messenger or about Last Farewells in general.</p>
    
    <p>We're honored to have you with us on this important journey..</p>
    
    
    <p>Warm regards,</p>
    <p>The Last Farewells Team</p>
    
</body>
</html>